<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
		<meta charset="UTF-8" />
		<title><%= title %></title>
		<link href="images/favicon.png" rel="icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="author" content="">
		<!-- CSS Part Start-->
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/slideshow.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="stylesheets/flexslider.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="js/colorbox/colorbox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="stylesheets/carousel.css" media="screen" />
		<!-- CSS Part End-->
		<!-- JS Part Start-->
		<script type="text/javascript" src="javascript/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="javascript/jquery.nivo.slider.pack.js"></script>
		<script type="text/javascript" src="javascript/jquery.flexslider.js"></script>
		<script type="text/javascript" src="javascript/jquery.easing-1.3.min.js"></script>
		<script type="text/javascript" src="javascript/jquery.jcarousel.min.js"></script>
		<script type="text/javascript" src="javascript/cloud_zoom.js"></script>
		<script type="text/javascript" src="javascript/jquery.dcjqaccordion.js"></script>
		<script type="text/javascript" src="javascript/custom.js"></script>
		<script type="text/javascript" src="javascript/html5.js"></script>
		<!-- JS Part End-->
	</head>
	<body>
		<div class="wrapper-box">
		  <div class="main-wrapper">
			<!--Header Part Start-->
		    <header id="header">
		      <div class="htop">
		        <div id="language"> <span>Admin<b></b></span>
		          <ul>
		            <li><a title="logout" href="logout">Sign Out</a></li>
		          </ul>
		        </div>
		      </div>
		      
		      <section class="hsecond">
		        <div id="logo"><a href="adminHome"><img src="images/ebayLogo.png" title="eBay" alt="eBay" /></a></div>
		      </section>
			</header>
			<!--Header Part End-->
			<div id="container">
			  <!--Middle Part Start-->
			  <div id="content">
				<h1><%= Error %></h1>
			  </div>
			  <!--Middle Part End-->
			</div>
		  </div>
		</div>
	</body>
</html>