<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
		<meta charset="UTF-8" />
		<title><%= title %></title>
		<link href="images/favicon.png" rel="icon" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="clean modern and elegant corporate look eCommerce html template">
		<meta name="author" content="">
		<!-- CSS Part Start-->
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/slideshow.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="stylesheets/flexslider.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="js/colorbox/colorbox.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="stylesheets/carousel.css" media="screen" />
		<!-- CSS Part End-->
		<!-- JS Part Start-->
		<script type="text/javascript" src="javascript/eBayClient.js"></script>
		<script type="text/javascript" src="javascript/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="javascript/jquery.nivo.slider.pack.js"></script>
		<script type="text/javascript" src="javascript/jquery.flexslider.js"></script>
		<script type="text/javascript" src="javascript/jquery.easing-1.3.min.js"></script>
		<script type="text/javascript" src="javascript/jquery.jcarousel.min.js"></script>
		<script type="text/javascript" src="javascript/colorbox/jquery.colorbox-min.js"></script>
		<script type="text/javascript" src="javascript/tabs.js"></script>
		<script type="text/javascript" src="javascript/cloud_zoom.js"></script>
		<script type="text/javascript" src="javascript/jquery.dcjqaccordion.js"></script>
		<script type="text/javascript" src="javascript/custom.js"></script>
		<script type="text/javascript" src="javascript/html5.js"></script>
		<!-- JS Part End-->
		<!-- Google Fonts (Droid Sans) Start -->
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans&amp;v1' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=&amp;v1' rel='stylesheet' type='text/css'>
		<!-- Google Fonts (Droid Sans) End -->
	</head>
	<body>
		<div class="wrapper-box">
		  <div class="main-wrapper">
		    <!--Header Part Start-->
		    <header id="header">
		      <div class="htop">
		        <div id="language"><span><a title="login" href="login">login</a></span>
		        </div>
		        <div id="sell"><span><a title="SignUp" href="signup">SignUp</a></span></div>
		      </div>
		      <section class="hsecond">
		        <div id="logo"><a href=""><img src="images/ebayLogo.png" title="eBay" alt="eBay" /></a></div>
		        <div id="search">
		          <div class="button-search"></div>
		          <input type="text" name="search" placeholder="Search" value="" />
		        </div>
		        
		        <div class="clear"></div>
		      </section>
		      
		      <!--Top Menu(Horizontal Categories) Start-->
		      <nav id="menu">
		        <ul>
		          <li class="categories_hor"><a>Categories</a>
		            <div>
		              <div class="column"><a href="login">Electronics</a>
		                <div>
		                  <ul>
		                    <li><a href="login">HeadPhones</a></li>
		                    <li><a href="login">PCBs</a></li>
		                    <li><a href="login">Security Cameras</a></li>
		                    <li><a href="login">Lights & Reflectors</a></li>
		                    <li><a href="login">Cigarettes</a></li>
		                    <li><a href="login">Microscopes</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="login">Accesories</a>
		                <div>
		                  <ul>
		                    <li><a href="login">Children's Jewellery</a></li>
		                    <li><a href="login">Men's Jewellery</a></li>
		                    <li><a href="login">Women's Jewellery</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="login">Apparel</a>
		                <div>
		                  <ul>
		                    <li><a href="login">Tops & Blouses</a></li>
		                    <li><a href="login">Kleider</a></li>
		                    <li><a href="login">Jackets & Leathers</a></li>
		                    <li><a href="login">Sweaters</a></li>
		                    <li><a href="login">Skirts</a></li>
		                    <li><a href="login">Medieval & Renaissance</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="login">Furniture</a>
		                <div>
		                  <ul>
		                    <li><a href="login">Sofas, Loveseats & Chaises</a></li>
		                    <li><a href="login">Chairs & Seating</a></li>
		                    <li><a href="login">Furniture Parts & Accessories</a></li>
		                    <li><a href="login">Dollhouses</a></li>
		                    <li><a href="login">Stylist Stations & Furniture</a></li>
		                    <li><a href="login">Door Knockers</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="login">Books</a>
		                <div>
		                  <ul>
		                    <li><a href="login">Cookbooks</a></li>
		                    <li><a href="login">Textbooks, Education</a></li>
		                    <li><a href="login">Cartoon Character</a></li>
		                    <li><a href="login">Atlases</a></li>
		                    <li><a href="login">American Vehicles</a></li>
		                    <li><a href="login">Other Children & Young Adults</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="login">Watches</a>
		                <div>
		                  <ul>
		                    <li><a href="login">Wristwatches</a></li>
		                    <li><a href="login">Wristwatch Bands</a></li>
		                    <li><a href="login">Montres classiques</a></li>
		                    <li><a href="login">Other</a></li>
		                  </ul>
		                </div>
		              </div>
		              <div class="column"> <a href="login">Kitchen</a>
		                <div>
		                  <ul>
		                    <li><a href="login">Kitchen & Steak Knives</a></li>
		                    <li><a href="login">Loose Cutlery</a></li>
		                    <li><a href="login">Egg Cups</a></li>
		                    <li><a href="login">Besteck-Einzelteile</a></li>
		                    <li><a href="login">Slicers</a></li>
		                    <li><a href="login">Cooking Utensils</a></li>
		                  </ul>
		                </div>
		              </div>
		          </li>
		          <li><a target="_blank" href="login">Electronics</a>
		            <div>
		              <ul>
	               		<li><a href="login">HeadPhones</a></li>
	                    <li><a href="login">PCBs</a></li>
	                    <li><a href="login">Security Cameras</a></li>
	                    <li><a href="login">Lights & Reflectors</a></li>
	                    <li><a href="login">Cigarettes</a></li>
	                    <li><a href="login">Microscopes</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a target="_blank" href="login">Accesories</a>
		            <div>
		              <ul>
		                <li><a href="login">Children's Jewellery</a></li>
	                    <li><a href="login">Men's Jewellery</a></li>
	                    <li><a href="login">Women's Jewellery</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a target="_blank" href="login">Apparel</a>
		            <div>
		              <ul>
		                <li><a href="login">Tops & Blouses</a></li>
	                    <li><a href="login">Kleider</a></li>
	                    <li><a href="login">Jackets & Leathers</a></li>
	                    <li><a href="login">Sweaters</a></li>
	                    <li><a href="login">Skirts</a></li>
	                    <li><a href="login">Medieval & Renaissance</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a target="_blank" href="login">Furniture</a>
		            <div>
		              <ul>
		                <li><a href="login">Sofas, Loveseats & Chaises</a></li>
	                    <li><a href="login">Chairs & Seating</a></li>
	                    <li><a href="login">Furniture Parts & Accessories</a></li>
	                    <li><a href="login">Dollhouses</a></li>
	                    <li><a href="login">Stylist Stations & Furniture</a></li>
	                    <li><a href="login">Door Knockers</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a href="login">Books</a>
		            <div>
		              <ul>
		                <li><a href="login">Cookbooks</a></li>
	                    <li><a href="login">Textbooks, Education</a></li>
	                    <li><a href="login">Cartoon Character</a></li>
	                    <li><a href="login">Atlases</a></li>
	                    <li><a href="login">American Vehicles</a></li>
	                    <li><a href="login">Other Children & Young Adults</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a href="login">Watches</a>
		            <div>
		              <ul>
		                <li><a href="login">Wristwatches</a></li>
	                    <li><a href="login">Wristwatch Bands</a></li>
	                    <li><a href="login">Montres classiques</a></li>
	                    <li><a href="login">Other</a></li>
		              </ul>
		            </div>
		          </li>
		          <li><a href="login">Kitchen</a>
		            <div>
		              <ul>
		                <li><a href="login">Kitchen & Steak Knives</a></li>
	                    <li><a href="login">Loose Cutlery</a></li>
	                    <li><a href="login">Egg Cups</a></li>
	                    <li><a href="login">Besteck-Einzelteile</a></li>
	                    <li><a href="login">Slicers</a></li>
	                    <li><a href="login">Cooking Utensils</a></li>
		              </ul>
		            </div>
		          </li>
		        </ul>
		      </nav>
		      <!--Top Menu(Horizontal Categories) End-->
		    </header>
		    <!--Header Part End-->
		    <div id="container">
		      <div id="content">
		        <!-- Nivo Slider Start -->
		        <section class="slider-wrapper">
		          <div id="slideshow" class="nivoSlider"> <a class="nivo-imageLink" href="#"><img src="images/slider/slide-1.jpg" alt="slide-1" /></a> <a class="nivo-imageLink" href="#"><img src="images/slider/slide-2.jpg" alt="slide-2" /></a> <a class="nivo-imageLink" href="#"><img src="images/slider/slide-3.jpg" alt="slide-3" /></a> </div>
		        </section>
		        <script type="text/javascript"><!--
					$(document).ready(function() {
						$('#slideshow').nivoSlider();
					});
				</script>
		        <!-- Nivo Slider End-->
		        <!-- Top Product Start-->
		        <section class="box">
		          <div class="box-heading">Products</div>		          
		            <div class="product-grid">
		            	<% result.forEach(function(resp){ %>
		            		 <div>
							    <div class="image"><a href="product.html"><img src="images/product/apple_cinema_30-162x162.jpg" title="Apple Cinema 30&quot;" alt="Apple Cinema 30&quot;" /></a></div>
							    <div class="name"><a href="product"><%= resp.product_title%></a></div>
							    <div class="price"> <span class="price-new">$<%= resp.instant_sellingprice %></span> <br />
							    <div class="cart">
								    <button id ="MyButton" class="float-left submit-button"> ADD TO CART </button>
								    <script type="text/javascript">
									     document.getElementById("MyButton").onclick = function(){
									     	location.href="/login";
									     }
								    </script>
							    </div>
							  </div>
		            	<% }) %>
		            </div>
		          </div>
		        </section>
		        <script type="text/javascript">
					(function() {
					  // store the slider in a local variable
					  var $window = $(window),
					      flexslider;
					 
					  // tiny helper function to add breakpoints
					  function getGridSize() {
					    return (window.innerWidth < 320) ? 1 :
							   (window.innerWidth < 600) ? 2 :
							   (window.innerWidth < 800) ? 3 :
					           (window.innerWidth < 900) ? 4 : 5;
					  }
					  $window.load(function() {
					    $('#content .featured_carousel').flexslider({
					      animation: "slide",
					      animationLoop: false,
						  slideshow: false,
					      itemWidth: 110,
					      minItems: getGridSize(), // use function to pull in initial value
					      maxItems: getGridSize() // use function to pull in initial value
					    });
					  });
					}());
				</script>
				<!-- Top Product End-->
		      </div>
		      <div class="clear"></div>
		    </div>
		  </div>
		  <!--Footer Part Start-->
		  <footer id="footer">
		    <div class="fpart-inner">
		      <div class="column">
		        <h3>Information</h3>
		        <ul>
		          <li><a href="">About Us</a></li>
		          <li><a href="">Delivery Information</a></li>
		          <li><a href="">Privacy Policy</a></li>
		          <li><a href="">Elements</a></li>
		        </ul>
		      </div>
		      <div class="column">
		        <h3>Customer Service</h3>
		        <ul>
		          <li><a href="">Contact Us</a></li>
		          <li><a href="">Returns</a></li>
		          <li><a href="">Site Map</a></li>
		        </ul>
		      </div>
		      <div class="column">
		        <h3>Extras</h3>
		        <ul>
		          <li><a href="#">Brands</a></li>
		          <li><a href="#">Gift Vouchers</a></li>
		          <li><a href="#">Affiliates</a></li>
		          <li><a href="#">Specials</a></li>
		        </ul>
		      </div>
		      <div class="column">
		        <h3>My Account</h3>
		        <ul>
		          <li><a href="#">My Account</a></li>
		          <li><a href="#">Order History</a></li>
		          <li><a href="#">Wish List</a></li>
		          <li><a href="#">Newsletter</a></li>
		        </ul>
		      </div>
		      <!-- Contact Details Start-->
		      
		      <!-- Contact Details End-->
		      <div class="clear"></div>
		      <div id="powered">
		        <!-- Payment Images Icon Start-->
		        <div class="payments_types part3"> <img src="images/payment_paypal.png" alt="paypal" title="PayPal"> <img src="images/payment_american.png" alt="american-express" title="American Express"> <img src="images/payment_2checkout.png" alt="2checkout" title="2checkout"> <img src="images/payment_maestro.png" alt="maestro" title="Maestro"> <img src="images/payment_discover.png" alt="discover" title="Discover"> </div>
		        <!-- Payment Images Icon End-->
		        <!-- Powered by Text Start-->
		        <div class="powered_text part3">
		          <p>eBay © 2014<br />
		        </div>
		        <!-- Powered by Text End-->
		        <!-- Follow Social Icons Start-->
		        <div class="social part3"> <a href="http://facebook.com" target="_blank"><img src="images/facebook.png" alt="Facebook" title="Facebook"></a> <a href="https://twitter.com/#!/harnishdesign" target="_blank"><img src="images/twitter.png" alt="Twitter" title="Twitter"> </a> <a href="#" target="_blank"> <img src="images/googleplus.png" alt="Google+" title="Google+"> </a> <a href="#" target="_blank"> <img src="images/pinterest.png" alt="Pinterest" title="Pinterest"> </a> <a href="#" target="_blank"> <img src="images/rss.png" alt="RSS" title="RSS"> </a> <a href="http://www.vimeo.com/#" target="_blank"> <img src="images/vimeo.png" alt="Vimeo" title="Vimeo"> </a> </div>
		        <!-- Follow Social Icons End-->
		        <div class="clear"></div>
		      </div>
		      <!-- Back to Top Button Start-->
		      <div class="back-to-top" id="back-top"><a title="Back to Top" href="javascript:void(0)" class="backtotop">Top</a></div>
		      <!-- Back to Top Button End-->
		    </div>
		  </footer>
		  <!--Footer Part End-->
		</div>
	</body>
</html>